@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #21bda3;
  --secondary-color: #76787e;
  --bg-color: #b4f3e8;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
